[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = git@github.com:jistr/vim-nerdtree-tabs.git
[submodule "bundle/tabline.vim"]
	path = bundle/tabline.vim
	url = git@github.com:mkitt/tabline.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:ayberkozgur/vim-colors-solarized.git
[submodule "bundle/restore_view"]
	path = bundle/restore_view
	url = git@github.com:ayberkozgur/restore_view.git
